* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --heightHeader: 86px;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #070c1f;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1120px;
  height: 100%;
  margin: auto;
}
.btn {
  display: inline-block;
  height: 50px;
  width: 200px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
  background: #16cf16;
  border-radius: 40px;
  color: #333;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  letter-spacing: 2px;
}

.title {
  font-size: 35px;
  color: #fff;
  margin: 16px 0 24px;
}
.paragraph {
  color: #afafaf;
  line-height: 2;
  font-size: 1.6rem;
}
@keyframes showItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
